@import 'base/variables';
*   {
        font-family: 'Museo Sans Cyrl', sans-serif;
        padding: 10px, 10px,10px,10px
    }
    @import 'blocks/promo';
    @import 'blocks/header.scss';
    @import 'blocks/buttons';
    @import 'blocks/advantages';
    @import 'blocks/titles';

    .container{
        max-width: 950px;
        margin: 0 auto;
    }